@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Semibold';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Light.ttf);
}

body {
    font-family: 'OpenSans-Regular', 'sans-serif';
}

.navbar-inverse {
    background-color: #65534c;
    border: none;
    position: relative;
    margin-bottom: 0;
}



.navbar-brand {
    padding: 10px 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #0083FF;
    background-color: transparent;
}

.navbar-menu {
    float: left !important;
    margin-left: 50px;
}

.nav > li > a {
    padding-left: 22px;
    padding-right: 22px;
    color: #fff;
}

.nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

.offer-1 {
    color: white;
    margin-top: 63px;
    font-size: 16px;
}

.offer-2 {
    font-family: 'OpenSans-Bold', 'sans-serif';
    color: white;
    font-weight: 700;
    margin: 110px 0 100px 0;
}

.text-white {
    color: #fff;
}

.carousel-inner .item.active {
    background-position: 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: 100% 100%;
}

.carousel-control {
    top: 30%;
}

#carousel-example-generic button {
    margin: 40px 0 169px 0;
}

#portfolio {
    padding: 50px 0;
}

#portfolio p {
    font-size: 18px;
}

#portfolio h1.text-center {
    margin-top: 80px;
}

#portfolio h1 {
    font-family: 'OpenSans-Bold', 'sans-serif';
}

#portfolio article img {
    width: 100%;
}

article {
    outline: none;
}

.work-info {
    background-color: #65534c;
    color: #fff;
    text-align: center;
    position: relative;
    top: -90px;
    height: 90px;
    padding: 25px 0;
}

.work-info h1 {
    margin: 0;
}

#service {
    padding: 170px 0;
    background-image: url(/img/bg2.png);
    background-position: 0 0;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#service-2 {
    background-image: url(/img/service.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.service {
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.service:hover {
    background-color: rgba(161, 175, 170, 0.45);
    border: 1px solid rgba(161, 175, 170, 0.45);
}

.service p {
    font-family: 'OpenSans-Bold', 'sans-serif';
    font-size: 18px;
    color: #fff;
    padding: 0 15%;
}

.service img {
    position: absolute;
    top: -1px;
    right: -1px;
}

.btn.btn-buy, .btn.btn-buy:focus, .btn.btn-buy:active, .btn.btn-buy:hover {
    background: #c64646;
    background: -moz-linear-gradient(top, #c64646 0%, #c34242 15%, #be3d3d 30%, #b63636 50%, #b02f2f 65%, #a92829 80%, #a62525 100%);
    background: -webkit-linear-gradient(top, #c64646 0%, #c34242 15%, #be3d3d 30%, #b63636 50%, #b02f2f 65%, #a92829 80%, #a62525 100%);
    background: linear-gradient(to bottom, #c64646 0%, #c34242 15%, #be3d3d 30%, #b63636 50%, #b02f2f 65%, #a92829 80%, #a62525 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c64646', endColorstr='#a62525', GradientType=0);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: #fff;
    padding: 12px 73px;
    outline: none;
}

.footer {
    background-color: #65534c;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
}

.footer .logo {
    margin: 50px 0;
}

.social,
.copyright {
    margin: 10px 0;
}

.social a {
    font-size: 24px;
    margin: 0 10px;
}

.modal-content {
    border-radius: 0;
}

.modal-body h4 {
    margin: 35px 0 30px 65px;
}

.form-control {
    border: 1px solid #959595;
    border-radius: 0;
    height: 23px;
    padding: 0 12px;
}

.modal-garanty {
    background-color: #e3e3e3;
    padding: 26px 28px;
}

.modal-notice {
    font-size: 13px;
    color: #c34242;
    margin: 0;
}

.modal-body .panel-default {
    border-color: #959595;
    border-radius: 0;
    padding: 17px 24px;
}

.modal-body .radio {
    margin-top: 0;
}

.modal-body .checkbox label,
.modal-body .radio label {
    display: block;
    padding: 0;
}

.modal-body .checkbox span {
    vertical-align: top;
}

.modal-body .checkbox input[type="checkbox"],
.modal-body .radio input[type="radio"] {
    display: none;
}

.modal-body .radio input[type="radio"]:checked + label:before {
    content: "";
    background: url(../img/checkbox.png);
    background-position: -10px 0;
}

.modal-body .radio label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: url(../img/checkbox.png);
}

.modal-body .checkbox input[type="checkbox"]:checked + label:before {
    background: url(../img/checkbox.png);
    background-position: -39px -1px;
}

.modal-body .checkbox label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    border: 1px solid #b4b4b4;
}

.modal-body .panel-default p {
    font-family: 'OpenSans-Light', 'sans-serif';
    font-size: 13px;
}

.modal-body button {
    padding: 6px 39px !important;
}

.modal-body h3 {
    font-family: 'OpenSans-Semibold', 'sans-serif';
    color: #c34242;
}


.modal-content button.close,
.modal-content button.close:hover {
    margin: -30px -30px 0 1px;
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    border-radius: 57px;
    padding: 3px 6px 4px 7px;
    opacity: 1;
    outline: none;
    font-size: 13px;
}

.separator-2 {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    height: 1px;
}

.separator-2:after {
    height: 1px;
    background: #d1d1d1;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
}

label {
    font-weight: normal;
}

.sidebar-service-margin {
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar-service-name {
    vertical-align: middle;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333;
}

.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}

.indent-bot {
    margin-bottom: 20px;
}

.carousel-inner > .item > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .navbar-menu li:not(:last-child) {
        background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255));
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 1px 40%;
    }

    .modal-dialog {
        margin: 100px auto;
    }
}

@media (max-width: 768px) {
    .navbar-login {
        margin-left: 50px;
        clear: both;
    }
}
